<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Mission to Mars</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Mission to Mars</h1>      
        <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Get Data on Mars</a></p>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading"><h3>Latest Mars News</h3></div>
                <div class="panel-body">{{mars.news_title}}</div>
                <div class="panel-footer">{{mars.news_p}}</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3>Featured Mars Image</h3>
                <img src="{{mars.feature_image_url}}" class="img-responsive"style="width:100%" alt="Image">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h5>Mars Facts</h5>
                {% autoescape off %}
                {{mars.html_table}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <h5>Mars Hemispheres</h5>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="{{mars.img_url1}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">{{mars.title1}} Enhanced</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="{{mars.img_url2}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">{{mars.title2}} Enhanced</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="{{mars.img_url3}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">{{mars.title3}} Enhanced</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="{{mars.img_url4}}" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">{{mars.title4}} Enhanced</div>
            </div>
        </div>
    </div>
</div>

</body>

</html>