<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Mission to Mars</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Mission to Mars</h1>      
        <p>Scrape New Data Placeholder</p>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading"><h3>Latest Mars News</h3></div>
                <div class="panel-body">News Title Placeholder - scrape</div>
                <div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. - scrape</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3>Featured Mars Image</h3>
                <img src="http" class="img-responsive"style="width:100%" alt="Image">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h5>Mars Facts</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <h5>Mars Hemispheres</h5>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="http://img" class="img-responsive style="width:100%" alt="Image"></div>
                <div class="panel-footer">Something Something Hemisphere Enhanced</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="http://img" class="img-responsive style="width:100%" alt="Image"></div>
                <div class="panel-footer">Something Something Hemisphere Enhanced</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="http://img" class="img-responsive style="width:100%" alt="Image"></div>
                <div class="panel-footer">Something Something Hemisphere Enhanced</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-body"><img src="http://img" class="img-responsive style="width:100%" alt="Image"></div>
                <div class="panel-footer">Something Something Hemisphere Enhanced</div>
            </div>
        </div>
    </div>
</div>

</body>

</html>